/* assets/css/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide arrows by default */
.scroll-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    display: none;
    transform: translateY(-50%);
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 50%;
}

.scroll-arrow span {
    font-size: 1.5rem;
    color: white;
}

/* Show arrows on hover */
.relative:hover .scroll-arrow {
    display: block;
}

/* Styling for the movie grid container */
.mx-10.grid-container {
    display: flex;
    overflow-x: auto;
    gap: 16px;
}

/* Prevent horizontal overflow of individual items */
.parent {
    flex-shrink: 0;
}

.hero-pattern {
  background-image: url('assets/images/MoviePoster.png');
  background-size: cover;
  background-position: center;
}
.trial {
  height: 100px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.embla {
  overflow: hidden;
  
  width: 100%;
}

.embla__viewport {

    width: 100%;
}
.embla__container {
  display: flex;

}

.embla__slide {
    flex: 0 0 auto;  /* Prevent slides from stretching */
    width: 100%; 
}
@layer utilities {
  /* Apply bg-blackDark to all elements */
  body {
    @apply bg-blackDark text-smokeWhite;
  }

  .movielist-item {
    @apply hidden; /* Use Tailwind's 'hidden' utility */
  }

  /* Show .movielist-item on hover of its parent, for example */
  .parent:hover .item-details {
    @apply block scale-110; /* Use Tailwind's 'block' utility to display it */
  }
}

/* Apply bg-blackDark to all elements */
